{% extends 'logins/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        Detalle de la Solicitud
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ solicitud.nombre }}</h5>
        <p class="card-text">RUT: {{ solicitud.rut }}</p>
        <p class="card-text">Apellidos: {{ solicitud.apellidos }}</p>
        <p class="card-text">Dirección: {{ solicitud.direccion }}</p>
        <p class="card-text">Teléfono: {{ solicitud.telefono }}</p>
        <p class="card-text">Comuna: {{ solicitud.comuna }}</p>
        <p class="card-text">Estado: {{ solicitud.get_estado_display }}</p>
    
    </div>
</div>
{% endblock content %}
